@import "./_fonts_famely";
@import "./_header";
@import "./main/_tips";
@import "./main/_body_sections";
@import "./main/_dostavka";
@import "./_footer";
@import "./actions/_actions";
@import "./actions/_products";
@import "./actions/_filters";
@import "./actions/_mini_actions";
*::-webkit-scrollbar {
    display: none;
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}