.korzinka__cards {
  padding-top: 20px;

  h1 {
    font-family: $fontheader;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: #191919;
    margin-bottom: 0;
  }
}

.korzinka__card_body {
  padding-top: 16px;
}

.korzinka__card {
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

  img {
    width: 84px;
    height: 84px;
    object-fit: contain;
    margin-right: 12px;
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .text__content {
      h4 {
        font-family: $fontheader;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #191919;
        margin-bottom: 8px;
      }
      
      p {
        font-family: $fontheader;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #191919;
        margin-bottom: 10px;

        @media only screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    .summs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      .buttons {
        display: flex;
        flex-direction: row;
        min-width: 92px;
        justify-content: space-between;
        align-items: center;
        background: #FFEEE2;
        border-radius: 6px;
        margin-right: 40px;
        
        button {
          height: 32px;
          padding: 0 10px;
          border: 0;
          background-color: transparent;
        }
        
        button,
        span {
          font-family: $fontheader;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #FF7010;
        }
      }
      
      p {
        font-family: $fontheader;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        color: #FF7010;
      }
    }
  }
}

.promo__kods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px 0;
  margin-top: 20px;

  @media only screen and (min-width: 768px) {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    padding: 16px 24px;
  }

  .input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    @media only screen and (min-width: 768px) {
      flex-grow: 0;
      width: initial;
    }

    input {
      border: 0;
      display: flex;
      align-items: center;
      padding: 0px 16px;
      max-height: 100%;
      flex-grow: 1;
      border-radius: 16px;

      &::placeholder {
        font-family: $fontheader;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #A5A5A5;
      }
    }

    a {
      background: #FF7010;
      border-radius: 6px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }
  }

  p {
    font-family: $fontheader;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    color: #FF7010;
    margin-top: 16px;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}